<%= form_for @meeting do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@meeting.errors.count, "error") %> <%= t("form_errors") %> </h2>
    <ul>
      <% @meeting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    </div>
  <% end %>
<p><%= t('meeting.form_incentive') %></p>
<p> <%= t('meeting.name') %> <%= f.text_field :name, class: "form-control-static" %> </p>
<p> <%= t('date') %> <%= f.date_field :date, class: "form-control-static"%> </p>
<p> <%= t('description') %> <%= f.text_area :description, class: "form-control-static" %> </p>
	  		<%= f.submit t("meeting.submit") %>
<% end %>