

<%= form_for Meeting.new, url: {action: "create"} do |f| %>
  
<p>Proszę wypełnij formularz</p>
<p> Nazwa spotkania: <%= f.text_field :name, html: {class: "form-control-static"} %> </p>
<p> Data: <%= f.datetime_field :date, html: {class: "form-control-static"}  %> </p>
<p> Opis: <%= f.text_area :description, html: {class: "form-control-static"} %> </p>
	  		<%= f.submit "Utwórz" %>
<% end %>

