<h1>Nadchodzące spotkania</h1>
<%= link_to 'nowe spotkanie', meetings_form_path, class: "btn btn-link" %>
<table class="table table-striped">
  <thead>
  <tr>

    <th>Nazwa</th>
    <th>Data</th>
    <th>Link</th>
    <th>Usuń</th>
  </tr>
  </thead>
  <tbody>
  <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= meeting.date %></td>
        <td><%= link_to "spotkanie nr #{meeting.id}", "/meetings/#{meeting.id}", class: "btn btn-link" %></td>
<!-- jesli jest adminem lub spotkanie jest dodane przeze mnie - dodac! -->
        <td><%= link_to 'Usuń', meeting, class: "btn btn-link", :method =>'delete' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'strona główna', home_index_path, class: "btn btn-link" %>


