<% if @only_mine %>
  <h1>Twoje spotkania</h1>
<% else %>
  <h1>Nadchodzące spotkania</h1>
<% end %>


<%= link_to 'nowe spotkanie', new_meeting_path, class: "btn btn-link" %>
<table class="table table-striped">

  <thead>
  <tr>

    <th>Nazwa</th>
    <th>Data</th>
    <th>Link</th>
    <th>Weź udział</th>
    <th>Usuń</th>
  </tr>
  </thead>
  <tbody>

  <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= meeting.date %></td>
        <td><%= link_to "spotkanie nr #{meeting.id}", meeting, class: "btn btn-link" %></td>
<!-- jesli jest adminem lub spotkanie jest dodane przeze mnie - dodac! -->
        <% if meeting.is_user_in_meeting?(current_user) %>
        <td><%= link_to 'wypisz się', meeting_remove_me_path(meeting), class: "btn btn-link", :method =>'delete' %></td>
        <% else %>
         <td><%= link_to 'weź udział', meeting_add_me_path(meeting), class: "btn btn-link", :method =>'post' %></td>
        <%end %>

        <td><%= link_to 'Usuń', meeting, class: "btn btn-link", :method =>'delete' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'strona główna', home_index_path, class: "btn btn-link" %>


