<% if @only_mine %>
  <h1>Twoje spotkania</h1>
<% else %>
  <h1>Nadchodzące spotkania</h1>
<% end %>

<% if current_user && current_user.knkf_member? %>
  <%= link_to 'nowe spotkanie', new_meeting_path, class: "btn btn-link" %>
<% end %>

<table class="table table-striped table-bordered", id="lista_spotkan">

  <thead>
  <tr>

    <th>Nazwa</th>
    <th>Data</th>
    <th>Link</th>
    <th>Weź udział</th>
    <th>Edytuj/Usuń</th>


  </tr>
  </thead>
  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= meeting.date %></td>
        <td><%= link_to "spotkanie nr #{meeting.id}", meeting, class: "btn btn-link" %></td>
        <td><%= relation_to_meeting(meeting) %></td>
        <td><%= destroy_meeting_if_can(meeting) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'strona główna', home_index_path, class: "btn btn-link" %>