<% if @only_mine %>
  <h1>Twoje spotkania</h1>
<% else %>
  <h1>Nadchodzące spotkania</h1>
<% end %>

<% if current_user && current_user.knkf_member? %>
  <%= link_to 'nowe spotkanie', new_meeting_path, class: "btn btn-link" %>
<% end %>

<table class="table table-bordered">

  <thead>
  <tr>

    <th>Nazwa</th>
    <th>Data</th>
    <th>Link</th>
    <th>Weź udział</th>
    <th>Usuń</th>


  </tr>
  </thead>
  <tbody>

  <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= meeting.date %></td>
        <td><%= link_to "spotkanie nr #{meeting.id}", meeting, class: "btn btn-link" %></td>

        <% if meeting.is_user_in_meeting?(current_user) %>
        <td><%= link_to 'wypisz się', meeting_remove_me_path(meeting), class: "btn btn-link", method: :delete %></td>
        <% else %>
         <td><%= link_to 'weź udział', meeting_add_me_path(meeting), class: "btn btn-link", method: :post %></td>
        <% end %>
      <% if meeting.is_meeting_mine?(current_user) == true %>
        <td><%= link_to 'Usuń', meeting, class: "btn btn-link", method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć?' } %></td>
        <% else %>
        <td></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'strona główna', home_index_path, class: "btn btn-link" %>


