<h1> <%= t("meeting.name") %> <%= @meeting.name %></h1>
<table class="table">
  <tr><td><%= t('description') %></td></tr>
  <tr><td><%= @meeting.description %></td></tr>
  <tr><td>Data: <%= @meeting.date %></td></tr>
    <% if @meeting.reading %>
      <tr><td>Lektura: <%= @meeting.reading.author %> : <%=  @meeting.reading.title  %></td></tr>
    <% else %>
      </br>
      <tr><td> <%= t("meeting.no_reading") %> </td></tr>
      <% if current_user.referee %>
        <tr><td><%= link_to 'Zakończ głosowanie - zaloguj się jako administrator', new_admin_session_path, class: "btn", :method =>:get %></td></tr>
      <% end %>
    <% end %>
</table>

<h4><%= t('meeting.participants') %></h4>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= t('meeting.member') %></th>
      <th><%= t('meeting.degree') %></th>
      <th><%= t('meeting.club') %></th>
      <th><%= t('meeting.sign_out') %></th>
    </tr>
  </thead>
  <% @meeting.users.each do |a| %>
    <tr>
      <td><%= a.full_name %></td>
      <td><%= a.degree %></td>
      <td><%= membership_info(a) %></td>
      <td><%= sign_out_from_meeting(a) %></td>
    </tr>
  <% end %>
</table>
<%= link_to t('meetings'), meetings_path, class: "btn btn-link" %>