
<h1>Spotkanie <%= @meeting.name %></h1>

<div>
<dl class="dl-horizontal">

  <dd>Nazwa spotkania: <%= @meeting.name %></dd>
  <dd>Opis: <%= @meeting.description %></dd>
  <dd>Data: <%= @meeting.date %></dd>
</dl>
</div>

<h4>Zapisane osoby</h4>
  <table class="table table-striped">
    <thead>
  <tr>

    <th>Uczestnik</th>
    <th>Stopień</th>
    <th>Koło</th>
    <th></th>
  </tr>
  </thead>
  <% @meeting.users.each do |a| %>
      <tr>
        <td><%= a.full_name %></td>
        <td><%= a.degree %></td>
        <% if a.knkf_member? %>
        <td>KNKF<td>
        <% else %>
        <td>gość<td>
           <% if a == current_user %>
        <td><%= link_to 'wypisz się', meeting_remove_me_path(@meeting), class: "btn btn-link", :method =>:delete %><td>
        <% else %>
        <td><td>
        <% end %>
        <% end %>
      <tr>

  <%end%>
  </table>
  

<%= link_to 'Spotkania', meetings_path, class: "btn btn-link" %>


