
<h1>Spotkanie <%= @meeting.name %></h1>

<div class "align_left">

  <li>Nazwa spotkania: <%= @meeting.name %></li>
  <li>Opis: <%= @meeting.description %></li>
  <li>Data: <%= @meeting.date %></li>
  <% if @meeting.reading %>
  <li>Lektura: <%= @meeting.reading.author %> : <%=  @meeting.reading.title  %></li>
  <% else %>
  </br>
  <div> Lektura nie została jeszcze ustalona </div>
  <% if current_user.referee %>
  <div ><%= link_to 'Zakończ głosowanie', meeting_end_voting_path(@meeting), class: "btn", :method =>:post %>  </div>
  <% end %>

  <% end %>

</div>

<h4>Zapisane osoby</h4>
  <table class="table table-striped table-bordered">
    <thead>
  <tr>

    <th>Uczestnik</th>
    <th>Stopień</th>
    <th>Koło</th>
    <th>Wypisz się</th>
  </tr>
  </thead>
  <% @meeting.users.each do |a| %>
      <tr>
        <td><%= a.full_name %></td>
        <td><%= a.degree %></td>
        <% if a.knkf_member? %>
          <td>KNKF</td>
          <% else %>
          <td>gość</td>
        <% end %>
        <% if a == current_user %>
               <td> <%= link_to 'wypisz się', meeting_remove_me_path(@meeting), class: "btn btn-link", :method =>:delete %> </td>
          <% else %>
          <td></td>
        <% end %>

      </tr>
  


  <% end %>
  </table>
  

<%= link_to 'Spotkania', meetings_path, class: "btn btn-link" %>


