<h1>Spotkanie <%= @meeting.name %></h1>

<table>
	    <td><%= @meeting.name %></td>
	    <td><%= @meeting.description %></td>
        <td><%= @meeting.date %></td>
</table>

<%= link_to 'strona główna', home_index_path, class: "btn btn-link" %>
<%= link_to 'Spotkania', meetings_index_path, class: "btn btn-link" %>

