<% if @reading_form.new_record? %>

<% options = { url: readings_path, method: :post } %>

<% else %>

<% options = { url: reading_path(@reading_form.reading), method: :put } %>

<% end %>

<%= form_for :reading, options do |f| %>
  <% if @reading_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reading_form.errors.count, "error") %> uniemożliwiło dodanie nowej lektury</h2>
      <ul>
        <% @reading_form.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p> Autor: <%= f.text_field :author, class: "form-control-static" %> </p>
  <p> Tytuł: <%= f.text_field :title, class: "form-control-static" %> </p>
  <p> Opis: <%= f.text_area :description, class: "form-control-static", size: "40x10"%> </p>
  <%= f.submit "Dodaj" %>
<% end %>