<tbody>
  <% @readings.each do |reading| %>
    <tr>
      <td> <%= link_to reading.author, reading %> </td>
      <td> <%= reading.title %> </td>
      <td> <%= link_to reading.votes_for %> </td>
      <td> <%= vote_info(reading) %> </td>
      <td> <%= voting_open_for_reading(reading) %> </td>
      <td> <%= display_destroy_reading(reading) %> </td>
    </tr>
  <% end %>
</tbody>