<h1>Lektury</h1>

<% if current_user && current_user.knkf_member? %>
  <%= link_to 'nowa lektura', new_reading_path, class: "btn btn-link" %>
  <% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Autor</th>
      <th>Tytuł</th>
      <th>Liczba głosów</th>
      <th>Spotkanie</th>
      <th>Skasuj</th>
      <th>Zagłosuj</th>
    </tr>
  </thead>

  <tbody>
    <% @readings.each do |reading| %>
      <tr>
        <td> <%= reading.author %> </td>
        <td> <%= reading.title %> </td>
        <td> <%= link_to reading.votes_for %> </td>
        <% if reading.meeting %>
        <td><%= link_to reading.meeting.name, meeting_path(reading.meeting) %>   </td>
        <% else %>
        <td> Oczekuje spotkania</td>
        <% end %>
        <% if reading.is_reading_mine?(current_user) == true %>
          <td> <%= link_to 'Destroy', reading, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
          <% else %>
         <td></td>
        
         <td><%= link_to 'Zagłosuj', vote_path(reading), method: :post %> </td>
         <% end %>
        </tr>
    <% end %>
  </tbody>
</table>
