<br>
<br>

<h1><%= t 'about_us' %></h1>
<h2><%= t 'club_name' %></h2>

<br>
<br>
<h3><%= t("club_managment") %></h3>
<p> <%= t('director') %> Piotr Zientara </p>
<p> <%= t('vicedirector') %>  Katarzyna Dworakowska</p>
<p> <%= t('treasurer') %>  Katarzyna Grzywacz</p>

<h3><%= t('supervisor') %> </h3>
<p>Prof. dr hab. Andrea Folkierska</p>

<a href="https://drive.google.com/file/d/0B6FkkQvZBxefbmFxOFJOWm40RXozRFY1Wkl1dmdhVVB2T0Y4/edit?usp=sharing"> <%= t("club_statute") %></a>
