
<h1><%= t('club_name') %></h1>
<br>
<%= image_tag('http://uw.edu.pl/images/header.jpg') %>
<h4><%= t('club_last_name') %></h4>
<br>
<br>
<br>
<%if user_signed_in? %>
<%= link_to t('meetings'), meetings_path, class: "btn btn-link" %>
<% end %>
<%if user_signed_in? %>
<%= link_to t('log_out'), destroy_user_session_path, class: "btn btn-link", :method =>'delete' %>
<% else %>
<%= link_to t('log_in'), new_user_session_path, class: "btn btn-link" %>
<% end %>