<!DOCTYPE html>
<html>
<head>
  <title>KNKF</title>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</head>

<body class="text-center">

<div>
	<%= image_tag('http://upload.wikimedia.org/wikipedia/en/thumb/3/31/POL_University_of_Warsaw_logo.svg/216px-POL_University_of_Warsaw_logo.svg.png')%>
</div>

	<% if user_signed_in? %>
<navbar class="navbar-form navbar-left">
	
	<div class="form-group"><%= link_to 'Strona główna', home_index_path, class: "btn btn-link" %></div>

<li class="dropdown form-group">
	<a class="dropdown-toogle" data-toggle='dropdown' href='#'>Spotkania <span class='caret'></span>
	</a>
		<ul class="dropdown-menu">
			<div ><%= link_to 'Wszystkie spotkania', meetings_path, class: "btn btn-link" %></div>
			<div ><%= link_to 'Moje spotkania', my_meetings_path, class: "btn btn-link" %></div>
		</ul>
</li>

	<div class="form-group"><%= link_to 'Lektury', readings_path, class: "btn btn-link" %></div>
	<div class="form-group"><%= link_to 'Aplikuj o członkowstwo', user_edit_path, class: "btn btn-link" %></div>
	<div class="form-group"><%= link_to 'O nas', home_about_us_path, class: "btn btn-link" %></div>

</navbar>

<navbar class="navbar-form navbar-left">
</navbar>

<navbar class="navbar-form navbar-right">

<% if current_user.knkf_member %>
		<div class="form-group" title="Jako członek KNKF możesz dodawać nowe spotkania, własne propozycje lektur, oraz głosować." id="member"><%= current_user.full_name %>, zalogowaliśmy Cię, masz uprawnienia KNKF <%= current_user.id %> </div>
		<% else %>
		<div class="form-group" title="Jako gość możesz zapisać się lub wypisać ze spotkania, nie możesz tylko tworzyć spotkań, lektur i na nie głosować." id="guest"> <%= current_user.full_name %>, zalogowaliśmy Cię, masz uprawnienia gościa <%= current_user.id %> </div>
	<% end %>
	<li class="dropdown form-group">
		<a class="dropdown-toogle" data-toggle='dropdown' href='#'> Konto <span class='caret'></span>
		</a>
		<ul class="dropdown-menu">
		<div> </div> <%= link_to "Zmień moje dane", edit_user_registration_path %> </div>
		<div ><%= link_to 'Wyloguj', destroy_user_session_path, class: "btn btn-link", :method =>'delete' %> </div>
		</ul>
	</li>
<% end %>


</navbar>

<br>
<br>

<%= yield %>

<footer class="navbar-form">
	<div class="form-group"><%= link_to 'Kontakt', readings_path, class: "btn btn-link" %></div>
	<div class="form-group"><%= link_to 'O nas', home_about_us_path, class: "btn btn-link" %></div>
</footer>

</body>
</html>

      
