<!DOCTYPE html>
<html>
<head>
  <title>KNKF</title>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
</head>
<body>
<%= image_tag('uw_logo.jpg', class: 'img-responsive') %>
<navbar class="navbar-form navbar-left">

<div class="form-group"><%= link_to 'Strona główna', home_index_path, class: "btn btn-link" %></div>

<% if user_signed_in? %>

<div class="form-group"><%= link_to 'Spotkania', meetings_index_path, class: "btn btn-link" %></div>
<div class="form-group"><%= link_to 'Wyloguj', destroy_user_session_path, class: "btn btn-link", :method =>'delete' %></div>

<% end %>


</navbar>
<br>
<br>

<%= yield %>

</body>
</html>

      
