<!DOCTYPE html>
<html>
  <head>
    <title>KNKF</title>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  </head>

  <body class="text-center">

    <div>
        <%= image_tag('http://upload.wikimedia.org/wikipedia/en/thumb/3/31/POL_University_of_Warsaw_logo.svg/216px-POL_University_of_Warsaw_logo.svg.png')%>
    </div>

    <% if user_signed_in? %>

      <navbar class="navbar-form navbar-left">
        <div class="form-group"><%= link_to t("main_page"), home_index_path, class: "btn btn-link" %></div>
        <li class="dropdown form-group">
          <a class="dropdown-toogle" data-toggle='dropdown' href='#'><%= t('meetings') %> <span class='caret'></span></a>
          <ul class="dropdown-menu">
            <div ><%= link_to t('all_meetings'), meetings_path, class: "btn btn-link" %></div>
            <div ><%= link_to t('my_meetings'), my_meetings_path, class: "btn btn-link" %></div>
          </ul>
        </li>

        <div class="form-group"><%= link_to t('readings'), readings_path, class: "btn btn-link" %></div>
        <% if current_user.knkf_member %>
          <div class="form-group"><%= link_to t('suggestions'), messages_new_path, class: "btn btn-link" %></div>
        <% else %>
          <div class="form-group"><%= link_to t('join'), messages_new_path, class: "btn btn-link" %></div>
        <% end %>
        <div class="form-group"><%= link_to t('about_us'), home_about_us_path, class: "btn btn-link" %></div>
      </navbar>

      <navbar class="navbar-form navbar-left"></navbar>
      <navbar class="navbar-form navbar-right">


        <div class="form-group" title= <%= permitions_title %> id="user_type"><%= current_user.full_name %>, <%= display_login_button %> </div>
      <li class="dropdown form-group">
        <a class="dropdown-toogle" data-toggle='dropdown' href='#'> <%= t 'account' %> <span class='caret'></span></a>
        <ul class="dropdown-menu">
          <div> <%= link_to t("change_my_data"), edit_user_registration_path %> </div>
          <div> <%= link_to t('log_out'), destroy_user_session_path, class: "btn btn-link", :method =>'delete' %> </div>
        </ul>
      </li>
      </navbar>
    <% end %>
  <br>
  <br>
  <br>
 

  <%= yield %>

    <footer class="navbar-form">
      <div class="form-group"><%= link_to 'Konferencja APS', "https://drive.google.com/file/d/0B6FkkQvZBxefOVRkUG5ZRnJrQ0w1cy16SDM5NXVQZFRZWS1n/edit?usp=sharing", class: "btn btn-link" %></div>
      <div class="form-group"><%= link_to 'Kontakt', messages_new_path, class: "btn btn-link" %></div>
      <div class="form-group"><%= link_to 'O nas', home_about_us_path, class: "btn btn-link" %></div>
      <div class="form-group"><%= link_to 'Diagram serwisu', "https://drive.google.com/file/d/0B6FkkQvZBxefV01VcklxLVBKUUk/edit?usp=sharing", class: "btn btn-link" %></div>
    </footer>
  </body>
</html>

      
